


<% @places.each do |place| %>

<div class ="coffeebox col-xs-6 col-xs-offset-3">
  <h1><%= link_to place.name, place_path(place) %></h1>
  <i><%= place.address %></i><br/><br/>
  <p><%= place.description %></p><br/>  

  <% if place.user.present? %>
    <small><%= place.user.email %></small>
  <% end %>

</div>

<br/>

<footer class = "paginate navbar navbar-fixed-bottom col-xs-7 col-xs-offset-5">

<%= paginate @places %>
</footer>

<% end %> 
